repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        pass_filenames: false
        files: ^.*(Cargo\.toml|Cargo\.lock|.*\.rs)$

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
        language: system
        pass_filenames: false
        files: ^.*(Cargo\.toml|Cargo\.lock|.*\.rs)$

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace --all-targets --all-features --verbose
        language: system
        pass_filenames: false
        stages:
          - pre-push
