name: Deploy
on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 12 * * 1"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install sqlite
        run: |
          sudo apt update
          sudo apt install -y sqlite3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Cache Cargo
        uses: Swatinem/rust-cache@v2

      - name: Seed Cheatsheets
        run: cargo run -p cheatsheets

      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: "4.59.0"
          preCommands: |
            echo "Seeding data..."
            wrangler d1 execute CHEATSHEETS --remote --file=./schema.sql
